.page-content {
    width: 100%;
}

.row {
    margin: 0 auto;
}

.cart-card {
    border: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    height: auto;
    width: 20%;
    background: #ffff;
    border-radius: 0.25em;
}

.cart-title {
    font-weight: bold;
    font-size: 1.3em;
}

.cart-total {
    float: right;
    margin: 1%;
}

.btn-remove {
    font-weight: bold;
}

.btn-done {
    margin-top: 3rem;
    margin-bottom: 2%;
}

.cart-quantity-input {
    width: 2.65em;
}

.cart-items {
    font-weight: bold;
}

.title {
    text-align: center;
    margin: 4% auto;
}

.card {
    text-align: center;
    margin: 0 auto;
    width: 85%;
    background: linear-gradient(0.25turn, #fcd5ce, #d8e2dc);
}

.btn {
    padding: 0.5rem;
}

.shop-item-price {
    font-size: 2em;
    font-weight: bold;
}

.card-img-top {
    margin: 0 auto;
    width: auto;
    height: 9rem;
}

.footer {
    margin-top: 5%;
}