.ms-auto {
    margin-right: 5rem;
}

.page-content {
    width: 100%;
}

.container {
    width: 50%;
}

.cart-card {
    border: 1px solid grey;
    text-align: center;
    margin-right: 2%;
    float: right;
    height: auto;
    width: 30%;
    background: #ffff;
    border-radius: 0.25em;
}

.cart-title {
    font-weight: bold;
}

.cart-total {
    float: right;
    margin: 1%;
}

.btn-remove {
    font-weight: bold;
}

.btn-done {
    margin-top: 18%;
    margin-bottom: 2%;
}

.cart-quantity-input {
    width: 2em;
}

.cart-items {
    font-weight: bold;
}

.title {
    text-align: center;
    margin: 4% auto;
}

.col {
    width: 50%;
}

.card {
    margin: 0 auto;
    width: 70%;
    background: linear-gradient(0.25turn, #fcd5ce, #d8e2dc);
}

.shop-item-price {
    font-size: 2em;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
}

.footer {
    margin-top: 5%;
}