@media screen {
    #override-bootstrap, .page-content {
        width: 100%;
    }
}

.page-title {
    text-align: center;
    margin-bottom: 5%;
}

.container {
    max-width: 100%;
    margin-top: 5%;
}

.info {
    border: 1px solid black;
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.title {
    margin-bottom: 4%;
    text-align: center;
}

.text {
    font-size: 1.2rem;
}

.offer {
    height: 100%;
}

#lists {
    font-size: 1.5rem;
    margin-top: 12%;
}

.inner-list {
    color: rgb(110, 110, 110);
}

.outro {
    text-align: center;
    margin-top: 10%;
    font-size: 2.8rem;
}

.question {
    width: 60%;
    font-size: 2rem;
    text-align: center;
    margin: 4% auto;
}

.link {
    text-decoration: none;
    color: orange;
}

.question a:hover {
    color: rgb(146, 95, 0);
}

.image {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
    box-shadow: 2px 2px 15px 15px grey;
    width: 80%;
}